---
title: Thaiwok Oberhaid
---

<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Thai Wok Oberhaid</title>
<meta name="description" content="Thai Wok Oberhaid - Der authentische Thai Imbiss in Oberhaid - Essen zur Abholung nach Bestellung unter 09503 259 10 10">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rochester" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#features" class="page-scroll">Empfehlungen</a></li>
        <li><a href="#about" class="page-scroll">Über uns</a></li>
        <li><a href="#restaurant-menu" class="page-scroll">Speisekarte</a></li>
        <li><a href="#team" class="page-scroll">Catering</a></li>
        <li><a href="#contact" class="page-scroll">Kontakt</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <!--<div class="overlay">-->
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <!--<h1>Thai Wok</h1>-->
            <h1>&nbsp;</h1>
            <p>Bestellungen: <a href="tel:+4995032591010">09503 259 10 10</a> </p>
          </div>
        </div>
      </div>
    <!--</div>-->
  </div>
</header>
<!-- Features Section -->
<div id="features" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Empfehlungen</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Pad Thai Gung</h3>
          <img src="img/specials/padthai.jpg" class="img-responsive" alt="">
          <p>Gebratene Reisnudeln mit Garnelen, gehackten Erdnüssen in süß-sauer Soße</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Laab</h3>
          <img src="img/specials/laab.jpg" class="img-responsive" alt="">
          <p>Verschiedenes Fleisch mit Minze, roter Zwiebel, Koriander, geröstetem Reis, Chili in Zitronen-Fisch-Soße</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="features-item">
          <h3>Yam wun sen Sea Food</h3>
          <img src="img/specials/yamwunsen.jpg" class="img-responsive" alt="">
          <p>Glasnudelsalat mit Meeresfrüchten, Tomaten, Koriander und Chili in Zitronensoße</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Section -->
<div id="about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-6 about-img"> </div>
      <div class="col-xs-12 col-md-3 col-md-offset-1">
        <div class="about-text">
          <div class="section-title"></div>
            <h2>Über uns</h2>
          </div>
          <p>Wir, das ThaiWok-Team, haben uns 2015 mit unserem eigenen Imbiss einen Traum erfüllt. 
            Wir bieten Ihnen traditionelle thailändische Küche und freuen uns, Sie bei uns begrüßen zu dürfen. 
            In unserem Lokal in Oberhaid gibt es einen gemütlichen Innenraum und einen Außenbereich für die warmen Tage im Jahr.
            Gerne können Sie aber auch telefonisch bestellen und das fertige Essen bei uns abholen.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
  <div class="container">
    <div class="section-title text-center">
      <h2>Speisekarte</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Suppen & Vorspeisen</h2>
          {% assign starters = site.data.starters %}
          {% for starter in starters %}
          <div class="menu-item">
            <div class="menu-item-number">{{starter.number}}</div>
            <div class="menu-item-name">{{starter.name}}</div>
            <div class="menu-item-price"> {{starter.price}} €</div>
            <div class="menu-item-description">{{starter.description}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Gebratene Nudeln</h2>
          {% assign noodles = site.data.noodles %}
          {% for noodle in noodles %}
          <div class="menu-item">
            <div class="menu-item-number">{{noodle.number}}</div>
            <div class="menu-item-name">{{noodle.name}}</div>
            <div class="menu-item-price"> {{noodle.price}} €</div>
            <div class="menu-item-description">{{noodle.description}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Gebratener Reis</h2>
          {% assign rices = site.data.rices %}
          {% for rice in rices %}
          <div class="menu-item">
            <div class="menu-item-number">{{rice.number}}</div>
            <div class="menu-item-name">{{rice.name}}</div>
            <div class="menu-item-price"> {{rice.price}} €</div>
            <div class="menu-item-description">{{rice.description}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Hühnerfleischgerichte <br>(mit Reis)</h2>
          {% assign chicken-rices = site.data.chicken-rices %}
          {% for chicken-rice in chicken-rices %}
          <div class="menu-item">
            <div class="menu-item-number">{{chicken-rice.number}}</div>
            <div class="menu-item-name">{{chicken-rice.name}}</div>
            <div class="menu-item-price"> {{chicken-rice.price}} €</div>
            <div class="menu-item-description">{{chicken-rice.description}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Knusprige Hühnerfleischgerichte <br>(mit Reis)</h2>
          {% assign crispy-chickens = site.data.crispy-chickens %}
          {% for crispy-chicken in crispy-chickens %}
          <div class="menu-item">
            <div class="menu-item-number">{{crispy-chicken.number}}</div>
            <div class="menu-item-name">{{crispy-chicken.name}}</div>
            <div class="menu-item-price"> {{crispy-chicken.price}} €</div>
            <div class="menu-item-description">{{crispy-chicken.description}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Schweinefleischgerichte <br>(mit Reis)</h2>
          {% assign pork-rices = site.data.pork-rices %}
          {% for pork-rice in pork-rices %}
          <div class="menu-item">
            <div class="menu-item-number">{{pork-rice.number}}</div>
            <div class="menu-item-name">{{pork-rice.name}}</div>
            <div class="menu-item-price"> {{pork-rice.price}} €</div>
            <div class="menu-item-description">{{pork-rice.description}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Rindfleischgerichte</h2>
          {% assign beefs = site.data.beefs %}
          {% for beef in beefs %}
          <div class="menu-item">
            <div class="menu-item-number">{{beef.number}}</div>
            <div class="menu-item-name">{{beef.name}}</div>
            <div class="menu-item-price"> {{beef.price}} €</div>
            <div class="menu-item-description">{{beef.description}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Garnelengerichte</h2>
          {% assign prawns = site.data.prawns %}
          {% for prawn in prawns %}
          <div class="menu-item">
            <div class="menu-item-number">{{prawn.number}}</div>
            <div class="menu-item-name">{{prawn.name}}</div>
            <div class="menu-item-price"> {{prawn.price}} €</div>
            <div class="menu-item-description">{{prawn.description}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Knusprige Entengerichte</h2>
          {% assign crispy-ducks = site.data.crispy-ducks %}
          {% for crispy-duck in crispy-ducks %}
          <div class="menu-item">
            <div class="menu-item-number">{{crispy-duck.number}}</div>
            <div class="menu-item-name">{{crispy-duck.name}}</div>
            <div class="menu-item-price"> {{crispy-duck.price}} €</div>
            <div class="menu-item-description">{{crispy-duck.description}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Vegetarische Gerichte</h2>
          {% assign veggies = site.data.veggies %}
          {% for veggie in veggies %}
          <div class="menu-item">
            <div class="menu-item-number">{{veggie.number}}</div>
            <div class="menu-item-name">{{veggie.name}}</div>
            <div class="menu-item-price"> {{veggie.price}} €</div>
            <div class="menu-item-description">{{veggie.description}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Original Thai Küche</h2>
          {% assign thais = site.data.thais %}
          {% for thai in thais %}
          <div class="menu-item">
            <div class="menu-item-number">{{thai.number}}</div>
            <div class="menu-item-name">{{thai.name}}</div>
            <div class="menu-item-price"> {{thai.price}} €</div>
            <div class="menu-item-description">{{thai.description}}</div>
          </div>
          {% endfor %}
        </div>
      </div> 
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Getränke</h2>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Coca Cola (0,5L)</div>
            <div class="menu-item-price"> 2,20 € </div>
            <div class="menu-item-description"></div>
          </div>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Cola Light (0,5L)</div>
            <div class="menu-item-price"> 2,20 € </div>
            <div class="menu-item-description"></div>
          </div>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Spezi (0,5L)</div>
            <div class="menu-item-price"> 2,20 € </div>
            <div class="menu-item-description"></div>
          </div>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Limo (0,5L)</div>
            <div class="menu-item-price"> 2,20 € </div>
            <div class="menu-item-description"></div>
          </div>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Mineralwasser (0,5L)</div>
            <div class="menu-item-price"> 2,00 € </div>
            <div class="menu-item-description"> </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Apfelschorle (0,5L)</div>
            <div class="menu-item-price"> 2,20 € </div>
            <div class="menu-item-description"></div>
          </div>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Mangosaft (0,25L)</div>
            <div class="menu-item-price"> 2,20 € </div>
            <div class="menu-item-description"> Dose </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Lycheesaft (0,25L)</div>
            <div class="menu-item-price"> 2,20 € </div>
            <div class="menu-item-description"> Dose </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Bier (0,5L)</div>
            <div class="menu-item-price"> 2,50 € </div>
            <div class="menu-item-description"></div>
          </div>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Bier alkoholfrei (0,5L)</div>
            <div class="menu-item-price"> 2,50 € </div>
            <div class="menu-item-description"></div>
          </div>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Rotwein (1,00L)</div>
            <div class="menu-item-price"> 7,50 € </div>
            <div class="menu-item-description"> Flasche</div>
          </div>
          <div class="menu-item">
            <div class="menu-item-number"></div>
            <div class="menu-item-name">Weißwein (1,00L)</div>
            <div class="menu-item-price"> 7,50 € </div>
            <div class="menu-item-description"> Flasche </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title">Beilagen</h2>
            {% assign sides = site.data.sides %}
            {% for side in sides %}
            <div class="menu-item">
              <div class="menu-item-number">{{side.number}}</div>
              <div class="menu-item-name">{{side.name}}</div>
              <div class="menu-item-price"> {{side.price}} €</div>
              <div class="menu-item-description">{{side.description}}</div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="menu-section">
            <h2 class="menu-section-title">Nachtisch</h2>
            {% assign desserts = site.data.desserts %}
            {% for dessert in desserts %}
            <div class="menu-item">
              <div class="menu-item-number">{{dessert.number}}</div>
              <div class="menu-item-name">{{dessert.name}}</div>
              <div class="menu-item-price"> {{dessert.price}} €</div>
              <div class="menu-item-description">{{dessert.description}}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gallery Section -->
<div id="gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="img/gallery/spiesse.jpg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="img/gallery/fish.jpg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="img/gallery/fruehlingsrollen.jpg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="gallery-item"> <img src="img/gallery/meeresfruechte.jpg" class="img-responsive" alt=""></div>
      </div>
    </div>
  </div>
</div>
<!-- Team Section -->
<div id="team">
  <div class="container">
    <div id="row">
      <div class="col-md-6">
        <div class="col-md-10 col-md-offset-1">
          <div class="section-title">
            <h2>Catering</h2>
          </div>
          <p>Bei Feierlichkeiten und größeren Bestellungen, z.B. Ihrer Geburtstagsfeier, Betriebsfeier usw. bereiten wir Ihnen gerne ein Buffet vor Ort. 
             Sprechen Sie uns einfach an.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="team-img"><img src="img/catering.jpg" class="img-responsive" alt="..."></div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact">
  <div class="container text-center">
    <div class="col-md-4">
      <h3>Bestellungen</h3>
      <div class="contact-item">
        <p>Bitte anrufen:</p>
        <p>09503 259 10 10</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Adresse</h3>
      <div class="contact-item">
        <p>Bamberger Straße 5</p>
        <p>96173 Oberhaid</p>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Öffnungszeiten</h3>
      <div class="contact-item">
        <p>Mo - Fr: 11:00 Uhr - 20:00 Uhr</p>
        <p>Sa: 16:00 Uhr - 20:00 Uhr</p>
        <p>Sonn- und Feiertags geschlossen</p>
      </div>
    </div>
    </div>
  </div>
</div>
<div id="legal">
  <div class="container text-center">
    <div class="col-md-12">
      <h3>Impressum</h3>
      <div class="contact-item">
        <p>Thai Wok Imbiss Obehaid</p>
        <p>Supaporn Waltrapp</p>
        <p>Bamberger Straße 5</p>
        <p>96173 Oberhaid</p>
        <p>Telefon: 09503 259 10 10</p>
        <!--<p>Email: </p>-->
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="col-md-6">
      <p>&copy; 2020 Thai Wok Imbiss Oberhaid. <a href=./privacy.html>Datenschutzerklärung</a>; Design by <a href="http://www.templatewire.com" rel="nofollow">TemplateWire</a></p>
    </div>
    <div class="col-md-6">
      <div class="social">
        <ul>
          <li><a href="https://de-de.facebook.com/pages/category/Thai-Restaurant/Thai-Wok-Imbiss-Oberhaid-496404777189251/"><i class="fa fa-facebook"></i></a></li>
          <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/jquery-3.6.0.min.js"></script> 
<script type="text/javascript" src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/SmoothScroll.js"></script> 
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script> 
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
